#!/usr/bash
# Cumulus
export INVOKE_BASE_URL=                    # Cumulus archive URL

# Private API Lambda
export PRIVATE_API_LAMBDA_ARN=             # Cumulus PrivateApiLambda ARN

# AWS
export AWS_PROFILE=                        # The AWS profile
export AWS_REGION=                         # The AWS region

# EDL
export CLIENT_ID=                          # URS application id
export EDL_UNAME=                          # URS username
export EDL_PWORD=                          # URS password

# Launchpad
export LAUNCHPAD_PASSPHRASE=               # LAUNCHPAD Passphrase
export LAUNCHPAD_PASSPHRASE_SECRET_NAME=   # AWS Secrets "Secret name" value for the launchpad password
export LAUNCHPAD_URL=                      # most likely https://api.launchpad.nasa.gov/icam/api/sm/v1/gettoken
export FS_LAUNCHPAD_CERT=                  # local path to LAUNCHPAD pfx file
export S3URI_LAUNCHPAD_CERT=               # S3 URI of LAUNCHPAD pfx file
