#!/usr/bash
export INVOKE_BASE_URL=************       // Cumulus archive URL
export BASE_URL=************              // URS URL (https://uat.urs.earthdata.nasa.gov/)
export CLIENT_ID=************************ // URS application id
export USER_NAME=************             // URS username
export USER_PASSWORD=************         // URS password
export USE_LAUNCHPAD=*****                // set to "true" if using LAUNCHPAD anything else will use URS
export LAUNCHPAD_CERT=****                // path to LAUNCHPAD pfx file
export LAUNCHPAD_PASSPHRASE=*****         // LAUNCHPAD Passphrase
export LAUNCHPAD_URL=*****                // most likely https://api.launchpad.nasa.gov/icam/api/sm/v1/gettoken