#!/usr/bash
export INVOKE_BASE_URL=************       // Cumulus archive URL
export BASE_URL=************              // URS URL (https://uat.urs.earthdata.nasa.gov/)
export CLIENT_ID=************************ // URS application id
export USER_NAME=************             // URS username
export USER_PASSWORD=************         // URS password